nav.sidebar {
  width: 280px;
  position: fixed;
  left: 20px;
  opacity: 0.2;
  transition: 0.5s;
  font-size: 19px;
}
nav.sidebar:hover {
  opacity: 1;
  transition: 0.5s;
}
nav.sidebar h2 {
  font-weight: bold;
}
nav.sidebar a {
  text-decoration: none;
  color: grey;
}
nav.sidebar a:hover {
  color: black;
}
nav.sidebar ol > ol {
  margin-left: 20px;
}
